@import "../../styles/mixins/media.scss";

.headerBtnsContainer {
  display: flex;
}

.item {
  &:not(:first-child) {
    margin-left: 20px;
  }

  @include tabletAndDesktop {
    margin-left: 30px;

    &:nth-last-child(n + 4) {
      display: none;
    }
  }
}
